<button mat-raised-button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
<button mat-raised-button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>

<pre *ngIf="auth.userProfile$ | async as profile">
  <img src="{{ profile.picture }}" style="max-width:64px">
  {{profile.name}}
</pre>

<div>
<ul>
  <li><a mat-raised-button routerLink='/home' routerLinkActive="active">Home</a>
  <li><a mat-raised-button routerLink='/tasks' routerLinkActive="active">Tasks</a>
</ul>
</div>
