<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex *ngIf="task" style="background-color:blue;">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile>
        <mat-grid-tile-footer>
          <h1 matLine>{{task.subject | uppercase}}</h1>
          <ul style="list-style:none">
            <li>Issue: {{task.issue}}
            <li>Created {{task.createdAt}} on {{task.createdAt | date}}
            <li>Modified {{task.updatedAt | date}}
            <li><i>{{wf(task.state.phase).name}} as of {{task.state.time | date:'medium'}}</i>
          </ul>
        </mat-grid-tile-footer>
        <button *ngIf="task.state.phase != 0" (click)="transition(-1)">Return to {{wf(task.state.phase - 1).name}}</button>
        <button *ngIf="task.state.phase != 4" (click)="transition(1)">Advance to {{wf(task.state.phase + 1).name}}</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="task || errMess">
      <mat-spinner color="accent"></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>

<!--<a mat-button color="primary" (click)="delete()">Delete</a>-->
