<mat-progress-bar *ngIf="UI_thinking" mode="indeterminate" color="accent"></mat-progress-bar>

<h1>NEW TASK {{('null' | workflow)[0].icon}}</h1> {{task.deadline}}

<form (ngSubmit)="onSubmit()" #newtask="ngForm" novalidate>

  <mat-dialog-content>

    <mat-form-field>
      <input [(ngModel)]="task.subject" #subject="ngModel" name="subject" placeholder="Subject" type="text" required appFocus matInput>
      <mat-error *ngIf="subject.errors?.required">Subject is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="task.issue" #issue="ngModel" name="issue" placeholder="Issue" required type="text" matInput>
      <mat-error *ngIf="issue.errors?.required">Issue is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="task.notes" #notes="ngModel" name="notes" placeholder="Notes" type="text" matInput>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="task.deadline" #deadline="ngModel" name="deadline" placeholder="Deadline" [matDatepicker]="lifeline" [min]="UI_now" matInput>
      <mat-datepicker-toggle matSuffix [for]="lifeline"></mat-datepicker-toggle>
      <mat-datepicker #lifeline></mat-datepicker>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button [disabled]="newtask.form.invalid" type="submit" mat-button>Create</button>
  </mat-dialog-actions>

</form>

{{errorMessage}}
