<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex *ngIf="tasks">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let task of tasks">
        <div [routerLink]="['/tasks', task._id]" style="background-color:blue;">
          <mat-grid-tile-footer>
            <h1 matLine>{{task.subject | uppercase}}</h1>
          </mat-grid-tile-footer>
          <ul>
            <li>{{task.maturity}}
            <li>{{task.details}}
          </ul>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="tasks || errMess">
      <mat-spinner color="accent"></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
