<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div [ngStyle]="{'height':view.height+'px'}" fxLayout.lt-sm="column" fxLayout.gt-xs="row">

  <section fxHide fxShow.gt-xs fxFlex="256px" fxLayout="column" style="background-color:#111111; color:white; padding:{{view.gap}}px; overflow:hidden;">

    <div style="position:relative; height:{{(256-(view.gap*2))}}px;">
      <div style="position:absolute; left:0; right:0; top:0; bottom:0;">
        <img src="../../assets/chris.jpg" style="width:100%; height:100%; object-fit:contain;">
      </div>
    </div>

    <span fxFlex></span>

    <div fxFlex="15%" style="margin-top:{{view.gap}}px; margin-bottom:{{view.gap}}px; outline:1px dashed gold;" fxLayout="column" fxLayoutAlign="space-around center">
      <span id="name">Chris Urban</span>
      <span>Serving ever more flexible<br>and meaningful systems</span>
    </div>

    <span fxFlex></span>

    <div class="links">
      <ul fxLayout="column" fxLayoutAlign="space-around center" class="icons" style="font-size:200%; line-height:150%">
        <li>
          <a class="fa fa-home" routerLink='/home'><span> Projects</span></a>
        </li>
        <li>
          <a class="fa fa-envelope" href="mailto:chrispurban@gmail.com"><span> Email</span></a>
        </li>
        <li>
          <a class="fa fa-file" href="https://drive.google.com/file/d/1g6EiiNQ9mkArkGvvDeQTTR-VLohdUZiM"><span> Resume</span></a>
        </li>
        <li>
          <a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/christopher-urban-82807841/" target="_blank"><span> LinkedIn</span></a>
        </li>
      </ul>
    </div>

  </section>

  <!---------------------------------------------------------------------->

  <section fxFlex="grow" style="color:white; position:relative; overflow-x:hidden; overflow-y:auto;">
    <router-outlet (activate)="loaded($event)"></router-outlet>
  </section>

  <!-- a *ngIf="outlet && outlet.taskEntry" (click)="outlet.taskEntry()" mat-raised-button color="accent">Create Task</a -->

</div>
