ul.icons{
	height:100%; margin:0px; padding:0px;
	cursor:default;
	list-style:none;
  text-align:center;
	li{
		display:inline-block;
		outline:1px dashed gold;
	}
  a{
		text-decoration:none;
		color:grey; opacity: 0.8;
		transition:
			background-color 0.2s ease-in-out,
			color 0.2s ease-in-out,
			border-color 0.2s ease-in-out;}
  a:hover{color:cyan;}
}
