
<!--
<app-side></app-side>
-->

<div [ngStyle]="{'height':view.height+'px'}" fxLayout.lt-sm="column" fxLayout.gt-xs="row"  style="color:white;">

  <app-side></app-side>
  <div fxLayout="column" fxFlex [ngStyle.gt-xs]="{'overflow-y':'auto'}">
    <router-outlet></router-outlet>
  </div>

</div>


<!--
Sidebard is only shown if the screen is large enough to accomodate it or if you are on the projects/home page

<app-side *ngIf="media.isActive('gt-xs') || route=='projects'">
</app-side>



<router-outlet
  fxFlex="grow"
  style="color:white;position:relative;overflow-x:hidden;overflow-y:auto;
  (activate)="loaded($event)"
></router-outlet>

<a *ngIf="outlet && outlet.taskEntry" (click)="outlet.taskEntry()" mat-raised-button color="accent">Create Task</a>

-->
