<div class="splash" fxLayout="column" style="overflow-x:hidden; overflow-y:auto; width:100%">

  <section fxHide.gt-xs [ngStyle.lt-sm]="{'min-height':view.height - (view.gap*2) + 'px', 'margin':view.gap + 'px', 'margin-bottom':'0px'}" style="overflow-x:hidden;">

    <div fxLayout="column" style="height:100%; background-color:hsla(0, 0%, 0%, 0.5); padding:{{view.gap}}px;">

      <div style="position:relative; height:{{(view.width-(view.gap*4))}}px;">
        <div style="position:absolute; left:0; right:0; top:0; bottom:0;">
          <img src="../../assets/chris.jpg" style="width:100%; height:100%; object-fit:contain;">
        </div>
      </div>

      <span fxFlex></span>

      <div fxFlex="15%" style="margin-top:{{view.gap}}px; margin-bottom:{{view.gap}}px;" fxLayout="column" fxLayoutAlign="space-around center">
        <span id="name">Chris Urban</span>
        <span>Serving ever more flexible<br>and meaningful systems</span>
      </div>

      <span fxFlex></span>

      <div class="links">
        <ul fxLayout="column" fxLayoutAlign="space-around center" style="font-size:150%; line-height:175%;">
          <li>
            <a class="fa fa-envelope" href="mailto:chrispurban@gmail.com"><span> Email</span></a>
          </li>
          <li>
            <a class="fa fa-file" href="https://drive.google.com/file/d/1g6EiiNQ9mkArkGvvDeQTTR-VLohdUZiM"><span> Resume</span></a>
          </li>
          <li>
            <a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/christopher-urban-82807841/" target="_blank"><span> LinkedIn</span></a>
          </li>
        </ul>
      </div>

      <span fxFlex></span>

      <div fxFlex="5%" style="margin-top:{{view.gap}}px; font-size:200%;" fxLayout="row" fxLayoutAlign="space-around center">
        <i class="fa fa-chevron-down"></i>
        <span fxFlex style="font-size:50%;">Scroll down to see some<br>delightful code in action</span>
        <i class="fa fa-chevron-down"></i>
      </div>
      <!--
    -->
    </div>

  </section>

  <section>
    <div *ngFor="let project of projects" [ngStyle.lt-lg]="{'padding':view.gap + 'px'}" [ngStyle.gt-sm]="{'height':(((view.height-(view.gap*3))/2)) + 'px'}" style="margin:{{view.gap}}px; background-color:hsla(0, 0%, 0%, 0.5); position:relative;">

      <div [ngStyle.gt-md]="{'position':'absolute', 'left':view.gap + 'px', 'right':view.gap + 'px', 'top':view.gap + 'px', 'bottom':view.gap + 'px'}" fxLayout.lt-md="column" fxLayout.gt-sm="row" style="overflow-y:auto;">

          <div fxFlex fxLayout="column">

            <h1>{{project.name}}</h1>

            <div fxFlex="none" fxLayout="row" fxLayoutAlign="center center" style="background-color:hsla(0, 0%, 50%, 0.5); font-size:120%; line-height:105%; padding:4px;">

              <a fxFlex="50%" style="text-align:left; display:flex; align-items:center;" href="https://github.com/chrispurban/Portfolio2/tree/master/src/app/pages/projects/{{project._id}}">
                  <span class="fa fa-github fa-2x" style="margin:{{(view.gap/4)}}px;"></span>
                  <span fxFlex>Source<br>Code</span>
              </a>

              <span fxFlex="{{(view.gap/4)}}px"></span>

              <a fxFlex="50%" style="text-align:right; display:flex; align-items:center;" routerLink='/projects/{{project._id}}/tasks'>
                <span fxFlex>Live<br>Demo</span>
                <span class="fa fa-paper-plane fa-2x" style="margin:{{(view.gap/4)}}px;"></span>
              </a>

            </div>

            <span fxFlex="{{view.gap}}px"></span>

            <div fxFlex>
              <h1>Technologies</h1>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div *ngFor="let i of project.technologies" style="white-space:nowrap;">
                  <span style="margin:8px;">⬥</span>{{i}}
                </div>
              </div>
            </div>

            <span fxFlex></span>
          </div>

          <span fxFlex="{{(view.gap)}}px"></span>

          <div fxFlex fxFlex.gt-sm="66%" fxLayout.lt-md="column" fxLayout.gt-sm="row">
            <div fxFlex fxFlex.gt-sm="66%">
              <h1>Purpose</h1>
              {{project.purpose}}
            </div>
            <span fxFlex="{{(view.gap)}}px"></span>
            <div fxFlex>
              <h1>Features</h1>
              {{project.features}}
            </div>
          </div>

      </div>

    </div>
  </section>

</div>
