<div class="splash" fxLayout="column" style="overflow-x:hidden; overflow-y:auto; width:100%">

  <section fxHide.gt-xs [ngStyle.lt-sm]="{'min-height':view.height - (view.gap*4) + 'px', 'margin':view.gap + 'px', 'margin-bottom':'0px'}" style="overflow-x:hidden; ">

    <div fxLayout="column" style="height:100%; background-color:hsla(0, 0%, 0%, 0.5); padding:18px;">


      <div fxFlex="50%" fxLayout="column">
        <span fxFlex></span>

        <div fxFlex>
          <img id="chris" src="../../assets/chris.jpg" style="max-width:200px;">
        </div>

        <span fxFlex></span>
      </div>

      <div fxFlex>
        <div id="name">
          Chris Urban
        </div>
      </div>

      <div fxFlex="50%" fxLayout="column">
        <span fxFlex></span>

        <div fxFlex>
          {{view.blurb}}
        </div>

        <span fxFlex></span>
      </div>
    <!--
    -->
    </div>

  </section>

  <section>
    <div *ngFor="let project of projects" style="position:relative; background-color:hsla(0, 0%, 0%, 0.5); margin:{{view.gap}}px; padding:{{view.gap}}px; min-height:{{( ((view.height-(view.gap*3))/2)-(view.gap*2) )}}px">

      <div [ngStyle.gt-md]="{'position':'absolute', 'left':view.gap + 'px', 'right':view.gap + 'px', 'top':view.gap + 'px', 'bottom':view.gap + 'px'}" fxLayout.lt-md="column" fxLayout.gt-sm="row" style="overflow-y:auto;">

          <div fxFlex fxLayout="column">

            <h1>{{project.name}}</h1>

            <div fxFlex="none" fxLayout="row" fxLayoutAlign="center center" style="background-color:hsla(0, 0%, 50%, 0.5); font-size:120%; line-height:105%; padding:4px;">

              <a fxFlex="50%" style="text-align:left; display:flex; align-items:center;" href="https://github.com/chrispurban/Portfolio2/tree/master/src/app/pages/projects/{{project._id}}">
                  <span class="fa fa-github fa-2x" style="margin:{{(view.gap/4)}}px;"></span>
                  <span fxFlex>Source<br>Code</span>
              </a>

              <span fxFlex="{{(view.gap/4)}}px"></span>

              <a fxFlex="50%" style="text-align:right; display:flex; align-items:center;" routerLink='/projects/{{project._id}}/tasks'>
                <span fxFlex>Live<br>Demo</span>
                <span class="fa fa-paper-plane fa-2x" style="margin:{{(view.gap/4)}}px;"></span>
              </a>

            </div>

            <span fxFlex.lt-md="{{(view.gap)}}px" fxFlex.gt-sm="{{(view.gap)}}px"></span>

            <div fxFlex>
              <h1>Technologies</h1>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div *ngFor="let i of project.technologies" style="white-space:nowrap;">
                  <span style="margin:8px;">⬥</span>{{i}}
                </div>
              </div>
            </div>

            <span fxFlex></span>
          </div>

          <span fxFlex="{{(view.gap)}}px"></span>

          <div fxFlex fxFlex.gt-sm="66%" fxLayout="column">
            <h1>Purpose</h1>
            <div>
              {{project.purpose}}
            </div>
            <span fxFlex="{{(view.gap)}}px"></span>
            <h1>Features</h1>
            <div>
              {{project.features}}
            </div>
          </div>

      </div>

    </div>
  </section>

</div>
