<div class="splash" fxLayout="column" style="overflow-x:hidden; overflow-y:auto; width:100%">

  <section id="projects" fxLayout="column" fxLayoutAlign="start center">
    <span style="height:{{view.gap}}px"></span>

    <div fxFlex *ngIf="errorMessage" style="text-align:center">
      <h2>Error</h2>
      <h4>{{errorMessage.message}}</h4>
    </div>

    <div *ngFor="let project of projects" style="margin:{{view.gap}}px; margin-top:0px; padding:{{view.gap}}px; background-color:hsla(0, 0%, 0%, 0.5);" [ngStyle.gt-sm]="{'max-width':view.height+'px'}">

      <div fxLayout.lt-md="column" fxLayout.gt-sm="row" style="overflow-y:auto;" fxLayoutAlign="center center">

          <div fxFlex fxLayout="column">

            <h1>App: {{project.name}}</h1>

            <div fxFlex="none" fxLayout="row" fxLayoutAlign="center center" style="background-color:hsla(0, 0%, 50%, 0.5); font-size:120%; line-height:105%; padding:4px;">

              <a fxFlex="50%" style="text-align:left; display:flex; align-items:center;" href="https://github.com/chrispurban/Portfolio2">
                  <span class="fa fa-github" style="font-size:175%; margin:{{(view.gap/4)}}px;"></span>
                  <span fxFlex>Source<br>Code</span>
              </a>

              <span fxFlex="{{(view.gap/4)}}px"></span>

              <a fxFlex="50%" style="text-align:right; display:flex; align-items:center;" routerLink='/projects/{{project.address}}/tasks'>
                <span fxFlex>Live<br>Demo</span>
                <span class="fa fa-paper-plane" style="font-size:150%; margin:{{(view.gap/4)}}px;"></span>
              </a>

            </div>

            <span fxFlex="{{view.gap}}px"></span>

            <div fxFlex>
              <h1>Technologies</h1>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div *ngFor="let tech of project.tech" style="white-space:nowrap;">
                  <span style="margin:8px;">⬥</span>{{tech}}
                </div>
              </div>
            </div>

            <span fxFlex></span>
          </div>

          <span fxFlex="{{(view.gap)}}px"></span>

          <div fxFlex fxFlex.gt-sm="66%" fxLayout.lt-md="column" fxLayout.gt-sm="row">
            <div fxFlex fxFlex.gt-sm="100%">
              <h1>Purpose & Features</h1>
              <div fxLayout="column" fxLayoutGap="20px">
                <div *ngFor="let desc of project.desc">{{desc}}</div>
              </div>
            </div>
          </div>

      </div>

    </div>
  </section>

</div>
