<div class="splash" fxLayout="column" style="overflow-x:hidden; overflow-y:auto; width:100%">

  <section fxHide.gt-xs [ngStyle.lt-sm]="{'min-height':view.height - (view.gap*2) + 'px', 'margin':view.gap + 'px', 'margin-bottom':'0px'}" style="overflow-x:hidden;">

    <div fxLayout="column" style="height:100%; background-color:hsla(0, 0%, 0%, 0.5); padding:{{view.gap}}px;">

      <div style="position:relative; height:{{(view.width-(view.gap*4))}}px; max-height:{{((view.height/2)-(view.gap*2.25))}}px;">
        <div style="position:absolute; left:0; right:0; top:0; bottom:0;">
          <img src="../../assets/chris.jpg" style="width:100%; height:100%; object-fit:contain;">
        </div>
      </div>

      <div fxFlex="nogrow" style="margin-top:{{(view.gap)}}px; margin-bottom:{{(view.gap)}}px;" fxLayout="column" fxLayoutAlign="space-around center">
        <span style="font-size:{{((view.scale-(view.gap*4))/6)}}px; line-height:100%; text-shadow: 0px 0px 8px black; font-family:'Josefin Sans','Ubuntu',sans-serif;">Chris Urban</span>
        <span style="font-size:{{((view.scale-(view.gap*4))/15)}}px; line-height:120%; margin-top:{{(view.gap/4)}}px">Let's make something great!</span>
      </div>

      <span fxFlex></span>

      <div fxflex="nogrow" class="links" style="font-size:{{((view.scale-(view.gap*4))/8)}}px; line-height:140%;">
        <ul fxLayout="column" fxLayoutAlign="space-around center">
          <li>
            <a class="fa fa-envelope" href="mailto:chrispurban@gmail.com"><span> Email</span></a>
          </li>
          <li>
            <a class="fa fa-file" href="https://drive.google.com/file/d/1g6EiiNQ9mkArkGvvDeQTTR-VLohdUZiM"><span> Resume</span></a>
          </li>
          <li>
            <a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/christopher-urban-82807841/" target="_blank"><span> LinkedIn</span></a>
          </li>
        </ul>
      </div>

      <div fxFlex="nogrow" style="margin-top:{{(view.gap)}}px; font-size:{{((view.scale-(view.gap*4))/15)}}px; line-height:120%;" fxLayout="row" fxLayoutAlign="space-around center">
        <i class="fa fa-chevron-down fa-2x"></i>
        <span fxFlex style="padding:0px {{(view.gap/2)}}px;">Scroll down to see some code in action</span>
        <i class="fa fa-chevron-down fa-2x"></i>
      </div>
      <!--
    -->
    </div>

  </section>

  <section id="projects" fxLayout="column" fxLayoutAlign="start center">
    <span style="height:{{view.gap}}px"></span>

    <div fxFlex *ngIf="errorMessage" style="text-align:center">
      <h2>Error</h2>
      <h4>{{errorMessage}}</h4>
    </div>

    <div *ngFor="let project of projects" style="margin:{{view.gap}}px; margin-top:0px; padding:{{view.gap}}px; background-color:hsla(0, 0%, 0%, 0.5);" [ngStyle.gt-sm]="{'max-width':view.height+'px'}">

      <div fxLayout.lt-md="column" fxLayout.gt-sm="row" style="overflow-y:auto;" fxLayoutAlign="center center">

          <div fxFlex fxLayout="column">

            <h1>App: {{project.name}}</h1>

            <div fxFlex="none" fxLayout="row" fxLayoutAlign="center center" style="background-color:hsla(0, 0%, 50%, 0.5); font-size:120%; line-height:105%; padding:4px;">

              <a fxFlex="50%" style="text-align:left; display:flex; align-items:center;" href="https://github.com/chrispurban/Portfolio2">
                  <span class="fa fa-github" style="font-size:175%; margin:{{(view.gap/4)}}px;"></span>
                  <span fxFlex>Source<br>Code</span>
              </a>

              <span fxFlex="{{(view.gap/4)}}px"></span>

              <a fxFlex="50%" style="text-align:right; display:flex; align-items:center;" routerLink='/projects/{{project.address}}/tasks'>
                <span fxFlex>Live<br>Demo</span>
                <span class="fa fa-paper-plane" style="font-size:150%; margin:{{(view.gap/4)}}px;"></span>
              </a>

            </div>

            <span fxFlex="{{view.gap}}px"></span>

            <div fxFlex>
              <h1>Technologies</h1>
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div *ngFor="let tech of project.tech" style="white-space:nowrap;">
                  <span style="margin:8px;">⬥</span>{{tech}}
                </div>
              </div>
            </div>

            <span fxFlex></span>
          </div>

          <span fxFlex="{{(view.gap)}}px"></span>

          <div fxFlex fxFlex.gt-sm="66%" fxLayout.lt-md="column" fxLayout.gt-sm="row">
            <div fxFlex fxFlex.gt-sm="100%">
              <h1>Purpose & Features</h1>
              <div fxLayout="column" fxLayoutGap="20px">
                <div *ngFor="let desc of project.desc">{{desc}}</div>
              </div>
            </div>
          </div>

      </div>

    </div>
  </section>

</div>
