a{ color:cyan; opacity:0.8; text-decoration:none; }
@media only screen and (hover) {
  a{ transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; }
  a:hover{ color:silver; }
}

.splash{
  ::-webkit-scrollbar{ display: none; }
  width:100%; height:100%;
  text-align:center;
}

h1 {
  font-family:'Josefin Sans','Ubuntu',sans-serif;
  margin-bottom:8px;
}
