html, body { height: 100%; height:auto; margin:0; overflow:auto; background-color:#222222;}
body {font-family: Roboto, "Helvetica Neue", sans-serif;}

///////////////////// toolbar
/*
.photo{
  position:relative;
  *{
    padding:0px;
  }
  img{
    max-height:64px; max-width:64px;
    position:absolute;top:0;left:0;bottom:0;right:0;
  }
}
*/

.tempImage{
  min-height:100px; max-height:100%;
  min-width:100px; max-width:100%;
}

div{
  outline:0px dashed silver;
}

@import url('https://fonts.googleapis.com/css?family=Expletus+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
#name{
  font-family:'Josefin Sans','Ubuntu',sans-serif;
  font-size:2.5em;
//  margin-top:10px;
  line-height:100%;
  text-shadow: 0px 0px 8px black;
}

.photo{
    object-fit:contain; box-sizing:border-box;
    background-color:black; border:0px solid white;
    box-shadow: 0px 0px 8px 4px black;
    border-radius:8px;
}


.links{
	span{
		font-family:'Josefin Sans','Ubuntu',sans-serif;
	}
}


//////////////////// tasks project

.tile{
  padding:4px;
  > div{
    position:relative;
    cursor:pointer;
    > div{
      position:absolute;top:0;left:0;bottom:0;right:0;
      background-color:#444444;
      border-radius:6px;
    }
    > header{
      position:absolute;top:0;right:0;
      background-color:#111111;
      border-radius:0px 6px;
      line-height:80%;
      font-size:80%;
      padding:3px 9px;
    }
  }
}

.small{
  > div{
    width:200px; padding-top:32px; padding-bottom:4px;
    > div{
      padding:8px 8px;
    }
  }
}

.large{
  > div{
    padding-top:138px;
    > div{
      padding:16px 8px;
      > div{
        display:-webkit-box;
        max-width:100%;
        max-height:100%;
        line-height:1.25;
        -webkit-line-clamp:6;
        -webkit-box-orient:vertical;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:pre-wrap;
      }
    }
  }
}
