<div fxLayout="column" style="position:absolute; top:0px; bottom:0px; left:{{(view.gap*0)}}px; right:0px;">
<!--
  <div fxFlex fxLayout="row">
      <div style="vertical-align:center;"><i>DUE SOON</i></div>
      <div *ngFor="let due of tasks">
        <div *ngIf="due.deadline" class="small tile"><div (click)="taskDetail(due)">
          <div>
            {{due.deadline | timer}} {{(due.state.phase | workflow).icon}} {{due.subject}}
          </div>
        </div></div>
      </div>
  </div>
-->
  <i *ngIf="auth.userProfile$ | async as profile" style="text-align:center; background-color:#111111; width:100%;">Logged in as {{profile.name}}</i>
  <i *ngIf="!auth.loggedIn" style="text-align:center; background-color:#111111; width:100%;">Tasks are stored locally until logged in</i>

  <div style="padding:{{(view.gap/4)}}px; background-color:#111111;" fxLayoutGap="{{(view.gap/4)}}px" fxFlex fxFlex.lt-sm="{{(view.gap*2)}}px">
    <button fxHide.gt-xs routerLink='/home' fxFlex mat-raised-button>Return Home</button>
    <button *ngIf="!auth.loggedIn" (click)="auth.login('/projects/first/tasks')" color="primary" fxFlex mat-raised-button>Log In</button>
    <button *ngIf="auth.loggedIn" (click)="auth.logout()" color="primary" fxFlex mat-raised-button>Log Out</button>
    <button (click)="taskEntry()" color="accent" fxFlex mat-raised-button>Create Task</button>
  </div>

  <div fxFlex="grow" style="overflow-x:hidden; overflow-y:auto;">
    <div fxFlex fxLayout.lt-md="column" fxLayout.gt-sm="row">
      <div fxFlex *ngFor="let group of 'null' | workflow">
        <!-- height of the parent div limits how far the sticky header will go -->
        <div style="width:100; text-align:center; position:sticky; top:0; z-index:10; background-color:#111111; padding-bottom:4px;">
          <br><span style="font-size:250%;">{{group.icon}}</span><br>
          <span style="line-height:30px;">{{group.name | uppercase}}</span>
        </div>

        <div *ngFor="let task of tasks">
          <div *ngIf="task.state.id == group.id" class="large tile"><div (click)="taskDetail(task)">

            <div><div>
              <span style="font-size:120%;">{{task.subject | uppercase}}</span>
              <br><br>
              <span style="font-size:90%;">{{task.issue}}</span>
            </div></div>

            <header *ngIf="task.deadline">
              <i *ngIf="(UI_now | date:'yyyyMMdd') < (task.deadline | date:'yyyyMMdd')">DUE IN {{task.deadline | timer | uppercase}}</i>
              <i *ngIf="(UI_now | date:'yyyyMMdd') >= (task.deadline | date:'yyyyMMdd')">OVERDUE!</i>
            </header>

          </div></div>
        </div>

      </div>
    </div>
  </div>

</div>

    <!--
    <div fxFlex *ngIf="!(tasks || errorMessage)" style="text-align:center">
        <br><mat-spinner style="margin:0 auto" color="accent"></mat-spinner>
        <br><h4>Loading . . . Please Wait</h4>
    </div>

    <div fxFlex *ngIf="errorMessage" style="text-align:center">
      <h2>Error</h2>
      <h4>{{errorMessage}}</h4>
    </div>
    -->
